$text-color-gray: #757575;
$text-color-black: #212121;
$accent-link-color: #2196f3;
$primary-color: #ffffff;
$black-color: #000000;
$secondary-color: #f5f4fa;
$footer-background: #2f303a;
$icon-gray: #afb1b8;
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$time: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
