.customers-list {
  @extend %list;
  @include flex();
  flex-wrap: wrap;
}

.customers-list__item {
  width: calc((100% - 30px * 1) / 2);
  height: 90px;

  &:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  @include for-size(tablet) {
    width: calc((100% - 30px * 2) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  @include for-size(desktop) {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
&__link {
  @include flex();
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-link-color;
  }

  &:hover .customers-list__icon,
  &:focus .customers-list__icon {
    fill: $accent-link-color;
  }
}
&__icon {
  fill: $icon-gray;

  & {
    transition: fill $time $time-function;
  }
}

/*.customers-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc((100% - 30px * 5) / 6);
    height: 90px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    @include flex();
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: $accent-link-color;
    }

    &:hover .customers-list__icon,
    &:focus .customers-list__icon {
      fill: $accent-link-color;
    }
  }
  &__icon {
    fill: $icon-gray;

    & {
      transition: fill $time $time-function;
    }
  }
}
*/
